*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    color: #f8f8f8;
    width: 100vw;
    height: 100vh;
}
#map{
    width: 90%;
    height: 70%;
    margin: 10px auto;
}
.location{
    width: 200px;
    height: 30px;
    margin-right: 30px;
    background-color: rgb(64, 12, 112);
    padding:5px;
}
#loc-details{
    width: 100%;
    margin: 10px 0px;
    display: flex;
}
#weather-details{
    display: block;
    background-color: #f8f8f8;
    width: 100vw;
    height: 30%;     
    margin: 10px auto;
    padding-inline: 5%;
    user-select: none;
}
h2{
    color:blueviolet;
}
#weather-data{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.weather-data{
    background-color: rgb(64, 12, 112);
    max-width: 33%;
    height: 30px;
    padding: 5px;
    margin: 10px 10px;
    color: #f8f8f8;
}

@media screen and (max-width: 600px) {
    .weather-data{
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }
    #weather-details{
        height: auto;
    }

    #G-map{
        width: 100%;
        margin-inline: auto;
        height: 72%;  
    }
    #map{
       margin: none;
       padding-inline: 3px;
       width: 100%;
    }
    .location{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
    }
}